@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', serif;
}

body {
    background-color: #000;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    color: #fcdc1a;
    margin-left: 35px;
    font-size: 25px;
    font-weight: bolder;
}

header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;
}

.container_whatss {
    display: flex;
    gap: 15px;
}

.whatsapp-button, .precio-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.whatsapp-button {
    background-color: #25d366;
    color: black;
}

.whatsapp-button:hover {
    background-color: #128c7e;
}

.precio-button {
    background-color: #fcdc1a;
    color: black;
}

.precio-button:hover {
    background-color: #867506;
}

.texto_fondo {
    position: absolute;
    top: 30%;
    left: 5%;
    background-color: rgba(51, 51, 51, 0.43);
    padding: 5%;
    max-width: 90%;
}

.textOne {
    color: white;
}

#movies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.movie {
    width: 200px;
    background-color: rgba(255, 254, 254, 0.07);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 250, 250, 0.5);
    transition: transform 0.3s ease;
    letter-spacing: 0.15em;
}

.movie:hover {
    transform: scale(1.05);
}

.movie img {
    width: 100%;
    border-radius: 10px;
}

.movie h3 {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.movie p {
    font-size: 14px;
    color: #fcdc1a;
}

.footer-content, .precios-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.footer-logo {
    width: 170px;
}

.precios {
    margin-top: 10%;
    width: 400px;
    height: auto;
}

footer {
    margin-top: 150px;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px;
}
